#mainTitle {
    display: flex;
    justify-content: center;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.movie-card {
    background-color: aquamarine;
    width: 300px;
    height: 800px;
    margin: 50px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#searchSection {
    display: flex;
    justify-content: center;
}

img {
    width: 280px;
    height: 400px;
    object-fit: cover;
    margin: 10px 10px 0px 10px;
    border-radius: 30px;
}

.movie-title {
    /* display: flex;
    justify-content: center; */
    font-size: 20px;
    font-weight: bold;
    margin: 10px 10px 0px 10px;
}

.movie-overview {
    margin: 10px 10px 0px 10px;
}

.movie-vote {
    margin: 0px 10px 10px 10px;
}