#root {
  min-width: 800px;
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
}

/* 카드 디자인 */

.card {
  padding: 2em;
}

.card-item {
  background-color: #fff; /* 카드 배경색 */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 효과 */
  padding: 16px; /* 내부 여백 */
  margin: 0 10px 10px 0; /* 위아래 마진 */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* 효과 부드럽게 */
  flex: 0 0 auto;
}

.card-item:hover {
  transform: translateY(-5px); /* 마우스 오버시 카드를 조금 위로 */
  box-shadow: 0 6px 16px rgba(0,0,0,0.15); /* 그림자를 더 진하게 */
}

.card-item h2, .card-item h3 {
  margin: 10px 0; /* 제목과 내용의 마진 */
  color: #333; /* 글자색 */
}

.card-item div {
  display: flex;
  justify-content: space-between; /* 버튼을 양 끝으로 정렬 */
}

.card-item button {
  flex: 1; /* 버튼 크기 동일하게 */
  margin: 0 5px; /* 버튼 사이 간격 */
}

.delete-button {
  background-color: #c1121f;
  color: white;
}

.done-button {
  background-color: #7678ed;
  color: white;
}

.cancel-button {
  background-color: #ffc300;
}

input[type="text"] {
  width: 300px; /* 너비 설정 */
  height: 30px; /* 높이 설정 */
  border-radius: 10px;
}

/* ul태그 가운데 구두점 지우기, 카드 옆으로 넣기 */

  ul {
    display: flex; /* 플렉스박스 설정 */
    flex-wrap: wrap; /* 여러 줄로 나열되도록 설정 */
    padding: 0;
    margin: 0;
    list-style-type: none; /* 목록 스타일 제거 */
  }  

/* 인풋 영역 레이아웃 설정 */

.input-group {
  display: flex;           /* 플렉스박스 설정 */
  align-items: center;     /* 수직 중앙 정렬 */
  justify-content: flex-start; /* 요소들을 시작 지점(왼쪽)에서부터 정렬 */
  width: 100%;             /* 부모 요소 전체 너비 사용 */
  height: 100px;
  background-color: #dee2e6;
  border-radius: 10px;
}

.input-title, .input-body {
  margin-right: 10px;      /* 각 입력 필드 사이에 적절한 간격 유지 */
}

.submit-button {
  margin-left: auto;       /* 왼쪽 자동 마진으로 요소를 오른쪽으로 밀어내기 */
  margin-right: 20px;
  padding: 10px 20px;      /* 버튼 패딩 */
}

.input-group span {
  margin-left: 20px;
  margin-right: 8px;  /* 오른쪽에 마진 추가 */
}

.input-title, .input-body {
  margin-left: 8px;  /* 왼쪽에 마진 추가 */
}


