.logoSection {
    display: flex;
    justify-content: center;
}

.searchSection {
    display: flex;
    justify-content: center;
}

.cardSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie_cards {
    margin: 100px;
    background-color: rgb(226, 228, 228);
    height: 800px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    overflow-y: auto;
    overflow-x: hidden;
}

img {
    width: 400px;
    height: 600px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.movie_name {
    font-size: 30px;
    font-weight: bold;
}


p {
    margin: 10px;
}

h1 {
    font-size: 70px;
}